.mainDiv
{
    width: 275px;
    height: 400px;
    background-color: rgba(218, 75, 210, 0.548);
    border-radius: 15px;
    margin: 10vh auto 0 auto;
    overflow: hidden;
}
.cardTitle
{
    margin: 0;
    font-size:large;
    text-align: center;
    background-color: rgb(189, 4, 235);
    padding: 25px;
    border-bottom: 1px solid black;

}
.cardParagraph
{
    padding: 0px 10px 0px 10px;

}