.mainDiv
{
    width: 275px;
    height: 400px;
    background-color: rgba(235, 87, 29, 0.548);
    border-radius: 15px;
    margin: 10vh auto;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.cardTitle
{
    margin: 0;
    font-size:large;
    text-align: center;
    background-color: rgb(189, 4, 235);
    padding: 25px;
    border-bottom: 1px solid black;

}
.cardParagraph
{
    padding: 0px 10px;

}