.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 51);
    gap: 2em;
 }
.pricing-plan
{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 2em;
} 
h2 {
    font-size: 2rem;
    color: gray;
    font-weight: 800;

}
ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
li {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
}
.pricing-button
{
    border: 1px solid blue;
    padding: 0.5em;
    border-radius: 20em;
    text-decoration: none;


}

@media (min-width: 600px) {
    .panel {
        flex-direction: row;
        gap: 0
    }
    .pricing-plan {
        border: 1px solid gray;
    }
    
}