* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article {
    display: flex;
    flex-direction: column;
    padding: 10%;
}
img {
    background-color: black;
    width: 100%;
    border-radius: 2em;
}


@media (min-width: 600px) {
    article  {
        flex-direction: row;
        height: 30vh;
        padding: 0;
        gap: 1rem;
    }
    img {
        width: auto;
    }
    figure {
        display: contents;
    }
}